textarea:-moz-placeholder {color: #ADB6BF !important;}
li.sed {display:none;}
li.hr {border-bottom: 2px solid #999; opacity: 0.2 }
li.b4 {opacity: 0.2;}
li.current_user {background-color: rgba(82,168,236,0.08);}
span.curr {background-color: rgba(255, 31, 63, 0.2); border-radius: 3px;}
span.user {background-color: rgba(123, 123, 123, 0.2); border-radius: 3px;}
li.git_bot {background-color: rgba(236,168,82,0.08);}
li.git_bot span.curr { background-color: transparent; }
li.git_bot span.user { background-color: transparent; }
pre.msg { overflow: hidden !important; }
pre.msg code {font: 13px/20px "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;}
pre.msg code.fixed-font {font: 12px/18px "Courier New", Courier, monospace;}
li.datetime-header { background:#fefefe; background:linear-gradient(to bottom, #fefefe 0%,#f9fbfc 50%,#f5f8fa 100%); }
span.hex-preview{ border-radius:3px; text-decoration:none; border:1px solid #999; padding:0 5px; width:16px; }

/* code highlighting */
.sh_typical{border:0 none;margin:0;padding:0;}
.sh_typical .sh_sourceCode{color:#000;font-weight:400;font-style:normal;background:#f6f6f6;}
.sh_typical .sh_sourceCode .sh_type{color:#00c;font-weight:400;font-style:normal;}
.sh_typical .sh_sourceCode .sh_comment{color:#0c0;font-weight:400;font-style:italic;}
.sh_typical .sh_sourceCode .sh_number{color:#a900a9;font-weight:400;font-style:normal;}
.sh_typical .sh_sourceCode .sh_preproc{color:#666;font-weight:400;font-style:normal;}
.sh_typical .sh_sourceCode .sh_function{color:#000;font-weight:700;font-style:normal;}
.snippet-wrap .snippet-menu pre,.snippet-wrap .snippet-hide pre{margin:0;padding:0;}
.snippet-wrap .snippet-menu a,.snippet-wrap .snippet-hide a{text-decoration:underline;padding:0 5px;}
.me, .snippet-wrap pre.sh_sourceCode{line-height:1.5em;overflow:auto;position:relative;border-radius:5px;border:1px dotted #999;font:12px/16px Monaco, Menlo, Consolas, "Courier New", monospace;padding:0;}
.me {padding: 5px 10px 5px 10px;background:#f6f6f6;margin-right:100px;}
.snippet-wrap .snippet-no-num{list-style:none;margin:0;padding:.5em;}
.snippet-wrap .snippet-no-num li{list-style:none;margin:0;padding:0;}
.snippet-wrap .snippet-num{margin:0;padding:.5em .5em .5em 3em;}
.snippet-wrap .snippet-num li{list-style:decimal-leading-zero outside none;margin:0;padding:0;}
.sh_typical .sh_sourceCode .sh_keyword,.sh_typical .sh_sourceCode .sh_date,.sh_typical .sh_sourceCode .sh_time,.sh_typical .sh_sourceCode .sh_file,.sh_typical .sh_sourceCode .sh_difflines,.sh_typical .sh_sourceCode .sh_property{color:#00c;font-weight:700;font-style:normal;}
.sh_typical .sh_sourceCode .sh_string,.sh_typical .sh_sourceCode .sh_regexp,.sh_typical .sh_sourceCode .sh_symbol,.sh_typical .sh_sourceCode .sh_cbracket,.sh_typical .sh_sourceCode .sh_url,.sh_typical .sh_sourceCode .sh_ip,.sh_typical .sh_sourceCode .sh_name,.sh_typical .sh_sourceCode .sh_newfile,.sh_typical .sh_sourceCode .sh_value{color:#c00;font-weight:400;font-style:normal;}
.sh_typical .sh_sourceCode .sh_specialchar,.sh_typical .sh_sourceCode .sh_oldfile{color:#C42DA8;font-weight:400;font-style:normal;}
.sh_typical .sh_sourceCode .sh_variable,.sh_typical .sh_sourceCode .sh_selector{color:#ec7f15;font-weight:400;font-style:normal;}